{% extends "base.html" %}
{% load functions %}
{% block title %}Отчёт по самым покупаемым товарам{% endblock %}
{% block forms %}
    <form id="report_form" method="get">
        {% for field in form.visible_fields %}
            <div class='input-group mb-3'>
                <span>{{ field.errors }}</span>
                <div class="input-group date" id="{{ field.html_name }}" data-target-input="nearest">

                    <span class="input-group-text">{{ field.label }}</span>
                    {% if field.html_name in "from_date,to_date" %}
                        <input type="text" name="{{ field.html_name }}" class="form-control datetimepicker-input"
                               data-target="#{{ field.html_name }}"/>

                        <button type="button" class="btn btn-outline-secondary" data-target="#{{ field.html_name }}"
                                data-toggle="datetimepicker">
                            <i class="fa fa-calendar"></i>
                        </button>
                    {% elif field.html_name == "max_items" %}
                        <select class="form-select" name="{{ field.html_name }}">
                            {% for choice in form.max_items.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}

                </div>
            </div>
        {% endfor %}
        <div class="input-group mb-3">
            <button id="sendRequest" type="submit" class="btn btn-primary">Сгенерировать отчет</button>
        </div>
    </form>
{% endblock %}

{% block content %}
    <thead style="position: sticky;top: 0" class="table-dark">
    <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">Имя товара</th>
        <th scope="col" colspan="3">Данные</th>
    </tr>
    <tr>
        <th scope="col">Номер заказа</th>
        <th scope="col">Цена</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>

    {% for item in order_items %}
        <tr>
            <th rowspan="{{ item.length }}" scope="row">{{ forloop.counter }}</th>
            <td rowspan="{{ item.length }}" title="{{ item.total_sold }}">{{ item.product_name }} </td>
        </tr>
        {% zip_orders item as orders %}
        {% for number, price, date in orders %}
            <tr>

                <td>{{ number }}</td>
                <td>{{ price }}</td>
                <td>{{ date | date:"d.m.Y H:i" }}</td>


            </tr>
        {% endfor %}
        </tbody>
    {% empty %}
        <tr>
            <td colspan="5">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        По указанному условию поиска заказы отсутствуют
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
